/* BlogDetaills.module.css */
.container {
    padding: 60px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .detail {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .detail strong {
    color: #007BFF;
  }
  
  .feedback {
    font-style: italic;
    color: #555;
    margin-top: 20px;
  }
  
  .image {
    height: 50%;
    width: 50%;
  }