.sliderContainer {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  margin-top: 10vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.marquee {
  display: flex;
  gap: 10px;
  animation: slide 20s linear infinite;
  /* Extend the width of the entire marquee to make it longer */
  width: 200%; /* Ensure that this is 200% to hold two sets of images */
}

.reverse {
  animation-direction: reverse;
}

.marqueeGroup {
  display: flex;
  gap: 10px;
  width: 100%; /* Each group should take up 100% of the parent marquee's width */
}

.imageGroup {
  width: 40vh;
  height: 40vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Auto-slide keyframes */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Slide 50% of the total width to show both sets fully */
  }
}
