.container{
  padding: 20px; 
  min-height: 80vh; /* Full height to cover the viewport */
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align all child elements horizontally */
  justify-content: center;
}

.tableContainer {
  width: 100%;
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 20px; /* Add some spacing around the table container */
    border: 5px solid orange; /* Orange border for the container */
    border-radius: 8px; /* Rounded corners for the container */
    padding: 10px; /* Padding inside the container */
    background-color: white; /* Keep the inside background color white */
  }
  
  .upcomingBatchesTable {
    width: 100%; /* Full width table */
    border-collapse: collapse; /* Collapse table borders */
  }
  
  .upcomingBatchesTable th,
  .upcomingBatchesTable td {
    padding: 12px; /* Padding inside table cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Bottom border for cells */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .upcomingBatchesTable th {
    background-color: #f4f4f4; /* Light grey background for table header */
    font-weight: bold; /* Bold text for table header */
  }
  
  .upcomingBatchesTable tr:nth-child(even) {
    background-color: #f9f9f9; /* Light grey background for even rows */
  }
  
  .upcomingBatchesTable tr:hover {
    background-color: #f1f1f1; /* Light grey background on row hover */
  }
  

  