/* Container styling */
.container {
  background-color: #0f0f0f;
  padding: 20px; /* General padding */
  min-height: 100vh;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
}

/* Course list styling */
.courseList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem; /* Space between cards */
  justify-content: center;
}

/* Course card styling */
.courseCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 6px 6px rgba(255, 255, 255, 0.8); /* Increased shadow for 3D effect */
  overflow: hidden;
  width: 350px; /* Width of each card */
  text-align: center;
  transition: transform 0.5s, box-shadow 0.5s;
  position: relative;
  transform-style: preserve-3d; /* Preserve 3D transformation */
  margin: 1rem 0; /* Add space above and below each card */
}

/* Image styling */
.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
}

/* Responsive design for different screen sizes */
@media (max-width: 1200px) {
  .courseList {
    gap: 30px; /* More space on larger screens */
  }
}

@media (max-width: 900px) {
  .courseCard {
    width: 100%; /* Full width on smaller screens */
  }
  .courseList {
    flex-direction: column;
    gap: 20px; /* Reduced gap for smaller screens */
  }
}

@media (max-width: 600px) {
  .courseCard {
    width: 100%; /* Full width on smaller screens */
  }
  .courseList {
    gap: 15px; /* Reduced gap for the smallest screens */
  }
}
