.navbar {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  background-color: #0f0f0f;
  /* background-color: orange; */
  color: #ffff;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* text-transform: uppercase; */
  z-index: 1000;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  justify-content: center; /* Center the links */
  align-items: center;
  flex: 1; /* Allow navLinks to take up available space */
}

.navLinks a {
  color: #ffff;
  text-decoration: none;
  font-weight: 600;
    line-height: 50px;
  padding: 5px 10px; /* Add padding for hover effect */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.navLinks a:hover {
  /* background-color: rgb(0, 0, 0);  */
  color: orange; /* Text color on hover */
  border-radius: 5px; /* Optional: add border-radius for rounded corners */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.active {
  display: block;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #333;
  padding: 10px;
  width: 200px;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    width: 200px;
  }

  .hamburger {
    display: flex;
  }
}
