.navbar {
  background-color: #0f0f0f;
  color: #ffff;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navLinks a {
  color: #ffff;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navLinks a:hover {
  color: orange;
  border-radius: 5px;
}

.logo img {
  max-height: 50px; /* Set a maximum height for the logo */
  width: auto;      /* Maintain aspect ratio */
  display: block;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 2000; /* Ensure hamburger is on top */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.active {
  display: flex; /* Show the nav links when active */
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    width: 200px;
    z-index: 1000;
  }

  .navLinks.active {
    display: flex; /* Show on mobile */
  }

  .hamburger {
    display: flex; /* Only show hamburger on mobile */
  }
}


