.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
}

.heroImage {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
font-size: 5rem;
  text-align: center;
}

.header {
  /* text-align: center; */
  margin-bottom: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.courseImage {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.courseImage:hover {
  transform: scale(1.05);
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoItem {
  font-size: 1.1rem;
  color: #444;
}

.enrollButton {
  padding: 12px 20px;
  font-size: 1.2rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enrollButton:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .courseImage {
    max-width: 100%;
  }
} 